.headerBackground{
	background: #0D0D0D;
	height: 12.5rem;
}

.contentImageLogo{
	height: 12.5rem;
    display: flex;
	justify-content: center;
    align-items: center;
}

.imgLogo{
	width: 9.125rem;
	height: 3rem;
}

.bodyBackground{
	background: #262626;
	margin-left: 15%;
    margin-right: 15%;
	height: 100vh;
}

@media screen and (max-width: 550px) {
    .bodyBackground{
        margin-left: 5%;
    	margin-right: 5%;
    }
}